<header>
    <a href="/">myMovieReviews</a>
</header>

<h1>{{ review.title }}</h1>
<small>개봉년도 | {{ review.releaseYear }}</small>
<br />
<small>감독 | {{ review.director }}</small>
<br />
<small>주연 | {{ review.mainActor }}</small>
<br />
<small>장르 | {{ review.genre }}</small>
<br />
<small>별점 | {{ review.starRating }}</small>
<br />
<!-- 백엔드 챌린지 러닝타임 단위 변환 -->
<small>시간 | {{ hour }}시간 {{ minute }}분</small>
<br />
<br />
<small>리뷰 | {{ review.reviewContent }}</small>

<form action="/reviews/{{ review.id }}/update" method = "post ">
    {% csrf_token %}
    <input type="submit" value="수정">
</form>

<form action="/reviews/{{ review.id }}/delete" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>