<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myMovieReviews</title>
</head>
<body>
    <header>
        <div>
            <h1><a href="/reviews/create">리뷰 작성</a></h1>
        </div>
        <!-- 백엔드 챌린지 정렬 -->
        <form method="GET">
        <div>
            <select name="sort" id="sort">
                <option value="가나다순">가나다순</option>
                <option value="별점높은순">별점높은순</option>
                <option value="상영시간순">상영시간순</option>
                <option value="최신순" selected>최신순</option>
            </select>
            <input type="submit" value="정렬">
        </div>
        </form>
    </header>
    
    {% for review in reviews %}
    <p><a href="/reviews/{{ review.pk }}">{{ review.title }}</a></p>
    <small>{{ review.releaseYear }}</small>
    <small>{{ review.genre }}</small>
    <small>{{ review.starRating }}</small>
    {% endfor %}
</body>
</html>