<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myMovieReviews</title>
</head>
<body>
    {% for review in reviews %}

    <p><a href="/reviews/{{ review.pk }}">{{ review.title }}</a></p>
    <small>{{ review.releaseYear }}</small>
    <small>{{ review.genre }}</small>
    <small>{{ review.starRating }}</small>
    {% endfor %}
</body>
</html>