@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  }

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    background-color:lightgrey;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-family: 'Pretendard-Regular'
}

a{
    font-family:'bitbit';
    color:black;
    text-decoration: none;
}

a span{
    color:deeppink;
}

hr {
    border: 1px solid grey;
    border-radius:2px;
}

.detail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-detail{
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 10px;
    width: 55%;
    height: auto;
    padding: 30px;
    margin-top:15px;
}

.main-detail small{
    font-family: 'Pretendard-Regular'
}

.detail-text{
    display: flex;
    flex-direction: column;
}

.detail-form{
    display: flex;
}
.detail-form form input {
    font-family: 'Pretendard-Regular';
    background-color:white;
    border: 1px solid lightslategray;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
}
